<div class="container">
    <div class="content-container">
        <div class="head">
            <h2 class="header">JDI</h2>
            <p>Discuss world matters and interesting topics that you like.</p>
        </div>
        <div class="form-container">
            <mat-horizontal-stepper>
              <mat-step label="Login">
              <app-login></app-login>
            </mat-step>
            <mat-step label="Create Account">
              <app-register></app-register>
            </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>