input#check{
    display: none;
}
div.navbar{
    width:100%;
    height: 60px;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     position: fixed;
     top: 0px;
     z-index: 1;
     align-items: center;
}
.darkBorder{
    background-color: rgb(14, 13, 13);
    border-bottom: 1px solid rgb(41, 40, 40);
}
.lightBorder{
    border-bottom: 1px solid rgb(202, 202, 202);
}
div.head-search{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

h2.header{
    color: dodgerblue;
    font-size: 40px;
    padding-left: 20px;
}
#mobile-header{
    display: none;
}
.input-container{
    background-color: transparent;
    display: flex;
    border-radius: 20%;
    width: 400px;
    height: auto;
    padding-top: 0px;
    align-items: center;
    position: relative;
}
.input{
    padding-left: 3%;
    height: 35px;  
    width: 90%;
    border: none;
    border-radius: 10px;
}
.input-light{
   background-color: rgb(252, 252, 252);
   outline: 1px solid gray;
   color: black;
}
.input-dark{
    background-color: rgb(14, 13, 13); 
    color: white;
    outline: 1px solid gray;
}
.input::placeholder{
    
    font-size: 17px;
}
.input-light::placeholder{
    color: rgb(126, 126, 126);
}
.input-dark::placeholder{
    color: gray;
}
.input:focus{
    outline: 1px solid dodgerblue;
}
.search-results-cont{
    position: absolute;
    height: auto;
    width: 90%;
    top: 100%;
    border-radius: 4px;
    padding: 10px;
}

.search-link{
    font-weight: bold;
}
div.lightMode .spa-search-link:hover{
    color: rgb(9, 108, 207);
}
div.commonDiv .spa-search-link:hover{
    color: rgb(65, 158, 252);
}
div.commonDiv .search-link{
    color: rgb(218, 218, 218);
    text-decoration: none;
    
}
div.lightMode .search-link{
    color: black;
    
}
.hideSearch{
    display: none;
}
/* rgb(68, 66, 66) */
div.commonDiv .search-results-cont{
    background-color: rgb(34, 33, 33);
}
div.lightMode .search-results-cont{
    background-color: rgb(204, 204, 204);
}

.icon{
    font-size: 27px;
    color: dodgerblue;
}
.defaultIcons{
    display: flex;
    justify-content: space-between;
}
div.home-icon-container{
    margin-left: 20px;
    position: relative;
    padding-left: 10px;
}
.home-icon{
    position: relative;
    right: 8px;
    font-size: 30px;
    cursor: pointer;
}
.notification-icon-container{
    margin-left: 20px;
    position: relative;
    padding-left: 10px;
}
.notification-icon{
    position: relative;
    right: 8px;
    font-size: 30px;
    cursor: pointer;
}

.profile-question-container{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.add-question{
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    height: 35px;
    border-radius: 40px;
    color: white;
    background-color: dodgerblue;
    border: none;
    cursor: pointer;
}
.user-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.user-img-container{
    position: relative;
}
.user-settings{
    border-radius: 4px;
    padding-top: 10px;
    position: absolute;
    margin-top: 11px;
    right: 5px;
    height: auto;
    width: 200px;
    transition: 2s;
}
