input#check{
    visibility: hidden;
}
div.navbar{
    width:100%;
    height: 60px;
    border-bottom: 1px solid rgb(41, 40, 40);
     padding: 15px;
     display: flex;
     justify-content: space-between;
     position: fixed;
     top: 0px;
     background-color: black;
     z-index: 1;
     align-items: center;
}
div.head-search{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

h2.header{
    color: dodgerblue;
    font-size: 40px;
    padding-left: 20px;
}
#mobile-header{
    display: none;
}
.input-container{
    display: flex;
    border-radius: 20%;
    background-color: black;
    width: 400px;
    height: auto;
    padding-top: 0px;
    align-items: center;
}
.input{
    padding-left: 5px;
    height: 35px;  
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: rgb(34, 33, 33);
    color: white;
}

.input::placeholder{
    margin-left: 20px;
    color: gray;
    font-size: 17px;
}
.input:focus{
    outline: 1px solid dodgerblue;
}

.icon{
    font-size: 27px;
    color: dodgerblue;
}
.defaultIcons{
    display: flex;
    justify-content: space-between;
}
div.home-icon-container{
    margin-left: 20px;
    position: relative;
    padding-left: 10px;
}
.home-icon{
    position: relative;
    right: 8px;
    font-size: 40px;
    cursor: pointer;
}
.notification-icon-container{
    margin-left: 20px;
    position: relative;
    padding-left: 10px;
}
.notification-icon{
    position: relative;
    right: 8px;
    font-size: 40px;
    cursor: pointer;
}
.reorder, .close{
    color: white;
}
.profile-question-container{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.add-question{
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    height: 35px;
    border-radius: 40px;
    color: white;
    background-color: dodgerblue;
    border: none;
    cursor: pointer;
}
.user-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.user-img-container{
    position: relative;
}
.user-settings{
    border-radius: 4px;
    padding-top: 10px;
    position: absolute;
    margin-top: 5px;
    right: 5px;
    height: auto;
    width: 200px;
    background-color: rgb(34, 33, 33);
    color: white;
    transition: 2s;
}
.user-settings .logout-btn, .user-settings .go-to-profile-btn{
    width: 100%;
}
.bars{
    display: none;
}
div.left-sidebar{
    width: 25%;
    height: 90.5%;
    position: fixed;
    left: 0;
    background-color: black;
    bottom: 0;
    border-right: 1px solid rgb(41, 40, 40);
    display: flex;
    justify-content: center;
}
div.middle{
    margin-left: 25%;
    width: 50%;
    padding-top: 3%;
    background-color: black;
    padding-bottom: 10px;
}
div.right-sidebar{
    width: 25%;
    height: 90.5%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: black;
    border-left: 1px solid rgb(41, 40, 40);
    overflow: hidden;
}

div.user-workspaces{
    margin-top: 30px;
}

 div.user-workspace{
    display: flex;   
    cursor: pointer;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    display: flex;
} 
div.user-workspace h3{
    display: inline;
    margin-top: 10px;
    padding-left: 10px;
}
.topic-profile{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.topic-name{
    color: white;
}
.active h3{
    color: dodgerblue;
}
div.test{
    display: none;
    width: 25%;
    height: 90.5%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: black;
    border-right: 1px solid rgb(41, 40, 40);
    justify-content: center;
}

@media only screen and (max-width:620px){
    div.navbar{
        padding: 5px;
    }
    .header{
        display: none;
    }
    #mobile-header{
        display: block;
        font-size: 28px;
        padding-top: 10px;
    }
    div.head-search{
        display: flex;
        justify-content: flex-start;
    }
    .input-container{
        display: none;
    }
    div.home-icon-container{
        margin-left: 10px;
        padding-left: 10px;
    }
    div.notification-icon-container{
        padding-left: 5px;
    }
    .add-question{
        margin-right: 20px;
        padding: 0px;
        height: 30px;
        width: 90px;
    }
    .profile-question-container{
        padding: 0px 10px;
    }
    .notification-icon, .home-icon{
        font-size: 30px;
    }
    .bars{
        padding-top: 3px;
        display: block;
    }
    div.left-sidebar{
        width: 0%;
        height: 0%;
    }
    div.middle{
        margin-left: 0%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 0;
        padding-top: 15%;
    }
    div.right-sidebar{
        width: 0%;
        height: 0%;
    }
    div.user-workspace{
        padding-left: 10px;
        padding-top: 20px;
    }
    div.test{
        display: block;
        width: 0%;
        margin-left: -50%;
        transition: 1s margin-left;
        visibility: hidden;
    }
    #check:checked ~ div.test{
        width: 45%;
        margin-left: 0%;
        visibility: visible;
    }
}