.viewq-input-container{
    display: flex;
    border-radius: 20%;
    width: 400px;
    height: auto;
    padding-top: 0px;
    align-items: center;
}

.enter-links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.enter-links a{
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 10px;
    margin-left: 10px;
}
.viewq-left{
    width: 20%;
    height: 90.5%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.viewq-middle{
    width: 60%;
    margin-left: 20%;
    padding-top: 4.3%;
    min-height: 100vh;
}
.viewq-right{
    width: 20%;
    height: 90.5%;
    position: fixed;
    right: 0;
    bottom: 0;
}




    @media only screen and (max-width: 620px){
        .viewq-left{
            width: 0%;
        }
        .viewq-middle{
            width: 100%;
            margin-left: 0%;
            padding-top: 15%;
        }
        .viewq-right{
            width: 0%;
        }

        .viewq-input-container{
            display: flex;
            border-radius: 30%;
            width: 100%;
            height: auto;
            margin-left: 10px;
        }
    }