<div class="notifications-container" [ngClass]="user.darkMode ? 'commonDiv' : 'lightMode' ">

  <div class="sub-not-container" >
    <ng-container *ngIf="length>0">
        <div class="notification" *ngFor="let notification of notifications" [ngClass]="user.darkMode ? 'notif-dark' : 'notif-light' " @topSlide>
            <div class="left" [ngStyle]="{color: user.darkMode ? 'white' : 'black'}" style="display: flex; justify-content: space-evenly;flex-direction: column;">
                <div class="user-related" style="display: flex;align-items: baseline; flex-direction: column;">
                    <img [src]="notification.image" alt="notification.owner" class="notif-img">
                    <strong style="padding-left: 5px;">{{notification.owner}}</strong>
                </div>
                <div class="notif-content" style="padding-top: 10px;">
                    <h3 class="notfication-content">{{notification.notificationMessage}}</h3>
                    <video [src]="notification.video" *ngIf="notification.hasVideo"></video>
                    <strong>{{notification.createdAt | date:'medium'}}</strong>
                </div>
            </div>
            <div>
                <div class="right"><mat-icon class="close-icon" (click)="removeNotification(notification._id)">close</mat-icon></div>
            </div>
        </div>
    </ng-container>


    <div class="no-notification" *ngIf="length <= 0">
        <p class="no-notification-para">No new Notifications available </p>
    </div>
  </div>

</div>
