.profile-container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-profile-img{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    padding-right: 10px;
    margin: 0px auto;
}
div.upload{
    margin: 12px 5px;
    display: flex;
    justify-content: center;
}
label.change-profile, .save-para{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}
.profile-inputs-container label{
    display: block;
}
.profile-input{
    width: 100%;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
  }
.close-btn{
    margin-top: 5px;
}

/* loader */
div.loader{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 7px lightgray solid;
    border-top: 7px dodgerblue solid;
    animation: spinner 1s linear infinite;
    margin: 0px auto;
}
@keyframes spinner{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width:620px){
    .user-profile-img{
        width: 220px;
        height: 200px;
    }


}