
<div class="questions" [ngClass]="user.darkMode ? 'commonDiv' : 'lightMode' " >

    <div class="loadingQuestions" *ngIf="isLoading">
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
        <div class="circle" id="circle3"></div>
    </div>

    <ng-container *ngIf="length  > 0">
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

        <div class="question" *ngFor="let question of questions; trackBy: trackQuestion" @fade>
            <div class="asked-by">
                <div class="left">
                    <img src="{{question.askedBy.avatar}}" alt="{{question.askedBy.username}}" class="askedBy-img">
                    <strong class="askedBy-username" >{{question.askedBy.username}} 
                        <em *ngIf="question.askedBy.isPro" style="color: dodgerblue;">Pro</em> </strong> 
                </div>
                <!-- <div class="right"><mat-icon class="close-icon" (click)="removeQuestion(question._id)">close</mat-icon> </div> -->
            </div>
            <div class="question-container">
                <a [routerLink]="['/questionAnswers',question._id]" >
                  <p class="question-body" ><strong>{{question.question}}</strong></p>
               </a>
                <div class="images"  *ngFor="let image of question.images">
                    <img src="{{image}}" alt="{{question.askedBy.username}}" class="question-img" @animateImage>
                </div>
                
            </div>
            <div class="answers" *ngIf="question.answertoshow">
                <div class="answer" >
                   <p class="answer-para" >{{question.answertoshow.answer}}</p>
                   <div class="answer-images"  *ngFor="let answerImages of question.answertoshow.images">
                    <img src="{{answerImages}}" alt="{{question.askedBy.username}}" class="answer-img">
                </div>
                <div class="votes-add-answers">
                    <div class="icon-1 ico-container">
                        <mat-icon class="arrow_upward" (click)="upvote(question.answertoshow ? question.answertoshow._id: 123)">thumb_up</mat-icon> 
                        <span class="word"><strong>{{question.answertoshow.upVotes}}</strong>  Votes</span>
                    </div>
                    <div class="icon-2 ico-container">
                        <mat-icon class="arrow_downward" (click)="downvote(question.answertoshow ? question.answertoshow._id: 123)">thumb_down</mat-icon> 
                        <span class="word"> <strong>{{question.answertoshow.downVotes}}</strong> Rejects</span>
                    </div>
                 
                </div>
                </div>
            </div>
    
            <div class="button-answer-cont">
                <button class="btn-answer" (click)="openAnsweringDialog(question)" [disabled]="question.askedBy._id == user.session ">Add Answer</button>
                <div class="comment-icon-cont" *ngIf="question.answertoshow">
                    <i class="fa fa-comment comment-icon" aria-hidden="true" [ngStyle]="{'color': user.darkMode ? 'white' : 'black'}" 
                    (click)="toggleDisplayComments(question)"  #tooltip="matTooltip"  matTooltip="Comments"
                    matTooltipHideDelay="500" matTooltipPosition="above" ></i>
                    <strong class="comments-number">{{question.answertoshow.comments.length}}</strong>
                </div> 

            </div>
            <div class="add-comment" *ngIf="question.answertoshow && question.answertoshow.showComments">
              <div class="adding-comment-cont">
                <input type="text" [(ngModel)]="comment" class="comment-input" name="comment" maxlength="400"
                [ngClass]="passedUser.darkMode ? 'darkModeInput' : 'lightModeInput' " required placeholder="Add a comment" />
                <button class="comment-btn" (click)="addComment(question.answertoshow._id)" [disabled]="comment == '' ">Comment</button>
              </div>

                  <ng-container *ngIf="question.answertoshow && question.answertoshow.comments.length > 0">
                    <mat-divider style="margin-top: 5px;"></mat-divider>
                    <app-comments [passedComments]="question.answertoshow.comments" [passedUser]="passedUser"></app-comments>
                  </ng-container>
            </div>
            
        </div>
        <div class="loadingQuestions" *ngIf="scrollEffect">
            <div class="circle" id="circle1"></div>
            <div class="circle" id="circle2"></div>
            <div class="circle" id="circle3"></div>
        </div>
    </div>

    </ng-container>

    <div class="no-question" *ngIf="length <= 0">
        <div class="loadingQuestions">
            <div class="circle" id="circle1"></div>
            <div class="circle" id="circle2"></div>
            <div class="circle" id="circle3"></div>
        </div>
        <!-- <p class="no-question-para"> Reload the page </p> -->
    </div>
</div>