
/*  STYLING ICONS AND THEIR CONTAINER  */


/* LOADER FOR QUESTIONS */
.questions{
   min-height: 100vh;
}
div.commonDiv .question:first-child:hover{
   background-color: black;
}
div.lightMode .question:first-child:hover{
   background-color: white;
}
/* .search-results{
   padding-top: 2%;
} */