.head{
    text-align: center;
}
.inputs{
    width: 90%;
}
.btn{
    width: 50%;
    color: white;
}
p.error{
    text-align: center;
    color: crimson;
}
div.loader{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 7px lightgray solid;
    border-top: 7px #3D52B4 solid;
    animation: spinner 1s linear infinite;
    margin: 0px auto;
}
@keyframes spinner{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

@media only screen and (max-width:620px){
    .inputs{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}