<div class="container">
    <div class="content-container">
        <div class="sub-content-container">
            <div class="header-content">
                <h2>Welcome</h2>
                <img [src]="imgUrl" alt="">
            </div>
            <div class="words-content">
                <p>We are excited to have you get started. First, you need to confirm 
                   your account.
                </p>
                <p>
                    <strong>Verification Link was sent to your email</strong>
                </p>
            </div>
        </div>
    </div>
</div>
